*{
  margin: 10px 20px;
}
body{
  background-color: goldenrod;
}
header{
  background-color: rgb(51, 17, 17);
  position: relative;
}
h1{
  color: aqua;
}

.list_of_link{
  display: none;
  z-index: 1;
}


header:hover > .list_of_link{
  
  display: block;
  background-color: blue;
  position:absolute;
}  
a{
  display: flex;
  columns: 1;
  width: 400px;  
}